@model IEnumerable<Blackjack.Models.Card>
@{
    ViewBag.Title = "Home Page";

}
<div class="row">
    @*@Session["Cartas"];
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Suit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        }
    </table>*@
    <br />
    <br />
    <div>
        <input class="text-box" id="cant" />
    </div>
    <br />
    <button id="dealBtn" onclick="deal();" type="button">Deal</button>
    <br />
    <div>
        <ul id="listaCartas">
        </ul>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    @*function deal() {
            let model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
            alert(JSON.parse(JSON.stringify({ deck: model })));
            $.ajax({
                type: 'post',
                async: false,
                url: '@Url.Action("Init", "Home")',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                data: JSON.parse(JSON.stringify({ deck: model })),
                success: function (data) {
                    alert(data);
                    //CierraPopup();
                }
            });
        };*@
    function deal() {
            $.ajax({
                type: 'post',
                async: false,
                url: '@Url.Action("Init", "Home")',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                //data: JSON.parse(JSON.stringify({ deck: model })),
                success: function (data) {
                    //alert(data.carta.Suit + ' ' + data.carta.Symbol + ' ' + data.carta.Color + ' ' + data.carta.Score);
                    let item = data.carta.Suit + ' ' + data.carta.Symbol + ' ' + data.carta.Color + ' ' + data.carta.Score;
                    $('#listaCartas').append('<li>' + item + '</li>');
                    $('#cant').val(data.cantidad);
                    //CierraPopup();
                }
            });
        };
</script>

}